.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--second-title-color);

    margin-bottom: 30px;

    @media screen and(min-width:1200px) {
        margin-bottom: 50px;
    }
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.customers-item {
    width: calc((100% - 30px) / 2);
    height: 92px;
    
    @media screen and(min-width:768px) {
        width: calc((100% - 60px)/3);
    }
    
    @media screen and(min-width:1200px) {
        width: calc((100% - 150px)/6);
    }

}

.customers-link {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid var(--background-soc-icon);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    transition: border 250ms var(--time-function);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

.svg-customers {
    fill: var(--background-soc-icon);
    transition: fill 250ms var(--time-function);
}

.customers-link:hover .svg-customers,
.customers-link:focus .svg-customers {
    fill: var(--accent-color);
}