.specifics {
    padding: 60px 0;
    
    @media screen and(min-width:1200px) {
        padding: 94px 0;
    }
}

.specifics__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.specifics__item {
    width: 100%;
    
    @media screen and(min-width:768px) {
        width: calc((100% - 30px) / 2);
    }
    
    @media screen and(min-width:1200px) {
        width: calc((100% - 90px) / 4);
    }
}

.specifics__icon {
    display: flex;
    
    height: 120px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    background-color: var(--second-background-color);
}

.specifics__svg {
    width: 70px;
    height: 70px;
}

.specifics__title {
    margin-bottom: 10px;
    
    font-weight: 700;
    font-size: 14;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--second-title-color);
    
    @media screen and(max-width:767px) {
    text-align: center;
    }
}

.specifics__text {
    line-height: 1.71;
}