:root {
    --body-background-color: #ffffff;
    --head-logo-color: #000000;
    --main-background-color: #2f303a;
    --second-background-color: #f5f4fa;
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --accent-color: #2196f3;
    --text-color: #757575;
    --footer-logo-color: #ffffff;
    --footer-link-color: #ffffff;
    --btn-color: #ffffff;
    --footer-contacts: rgba(255, 255, 255, 0.6);
    --header-border-color: #ececec;
    --background-soc-icon: #afb1b8;
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
    --white-text-color: #ffffff;
    --box-shadow--accent: 0px 4px 4px rgba(0, 0, 0, 0.25);
}